{% extends "base.html" %}
{% block title %}Password Reset Page{% endblock %}
{% block h1 %}FORGOT PASSWORD{% endblock %}
{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <div class="login-wrapper">
      <p>Please enter your email address</p>
      <br><br>
      <input name="email" class="input" placeholder="Email address" type="email" id="id_email" required="true">
      <br><br><br><br>
      <button class="submit_button" type="submit">Send reset email</button><br><br><br><br><br>
      <div class="hr"></div>
      <div class="foot-lnk">
        <a href="{% url 'login' %}">Back to Login Page</a>
      </div>
    </div>
  </form>
{% endblock %}